# Don't track content of these folders
PS_PL_COM/PS_PL_COM.cache/
PS_PL_COM/PS_PL_COM.runs/
PS_PL_COM/.vscode/
PS_PL_COM/PS_PL_COM.sdk/.metadata/
PS_PL_COM/PS_PL_COM.tmp/



# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.wdf
*.xml
*.rst
*.log
*.sh
*.wdm
*.xpr
*.snap
*.pdom
*.prefs
*.lpr
*.log
*.resources
